<!DOCTYPE HTML>
<html>
<head>
    <title>TFG Control mediante la mirada de una cámara integrada en un dron</title>
    <style>
        .col {
          float: left;
          width: 50%;
        }
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        img {
            width: 640px;
            height: 480px;
        }
    </style>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var constraints = { audio: false, video: { width: 640, height: 480 } };
            var video = document.querySelector('video');
            var canvas = document.querySelector('canvas');

            namespace = '/web';

             var socket = io(namespace);

            // SHOW WEBCAM
            navigator.mediaDevices.getUserMedia(constraints)
                .then(function(mediaStream) {
                video.srcObject = mediaStream;
                video.onloadedmetadata = function(e) {
                video.play();

              };
            })
            .catch(function(err) { console.log(err.name + ": " + err.message); })

            // CONNECT TO SERVER
            socket.on('connect', function () {
                console.log('connected !', socket.connected);

                function capture() {
                    canvas.width = 720;
                    canvas.height = 480;
                    canvas.getContext('2d').drawImage(video, 0, 0, 640, 480);
                    var data = canvas.toDataURL('image/jpeg');

                    return data;
                };

                const FPS = 1;

                setInterval(() => {
                    var imgData = capture();

                    socket.emit('webcam_frame', imgData);

                }, 1000 / FPS);
            });

            // RECEIVE GAZE POSITION
            socket.on('gaze_position', function(msg, cb) {
                $('#gaze-position').text(msg.data["text"]);
                if (cb)
                    cb();
            });

            // CHECK BACKGROUND THREAT
            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            // DISCONNECT FROM SERVER
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });

            // MEASURE PING
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                $('#transport').text(socket.io.engine.transport.name);
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });
        });
    </script>
</head>
<body>
    <h1>TFG Control mediante la mirada de una cámara integrada en un dron</h1>
    <p>
      Async mode is: <b>{{ async_mode }}</b><br>
      Gaze position: <b><span id="gaze-position"></span></b><br>
      Average ping/pong latency: <b><span id="ping-pong"></span>ms</b>
    </p>
    <h2>Send:</h2>
    <div class="row">
        <div class="col" id="container">
            <video autoplay="true" id="video">
                <canvas id="canvas"></canvas>
            </video>
        </div>
        <div class="col">
            <img src="{{ url_for('dron_camera_streaming') }}">
        </div>
    </div>
    <div class="row">
        <form id="disconnect" method="POST" action="#">
            <input type="submit" value="Disconnect">
        </form>
        <h2>Receive:</h2>
        <div id="log"></div>
    </div>
</body>
</html>
